.header-container {
  height: 60px;
  background-color: #3b7ded;
  color: white;
  display: flex;
  flex-wrap: nowrap; /* 줄바꿈 방지 */
  overflow-y: hidden; /* 가로 스크롤 방지 */
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 60px;
}

.header-logo {
  margin-left: -10px;
  margin-top: 2px;
}

.header-logo-image {
  height: 60px;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.header-nav {
  display: flex;
  gap: 0.75rem;
}

.header-search-button {
  background-color: #3b7ded;
  color: #333;
}

.header-login-button {
  background-color: #3b7ded;
  color: #333;
}
.header-logout-button {
  background-color: #3b7ded;
  color: #333;
}

.header-mypage-button {
  background-color: #3b7ded;
  color: #333;
}

.header-nav button {
  white-space: nowrap;
  min-width: 80px;
  padding: 2px 18px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.header-nav button:first-child {
  border-right: 1.5px solid #333;
}

.header-nav button:last-child {
  border-left: 1.5px solid #333;
}

