.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f9f9;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.layout-sidebar {
  width: 20%;
  min-width: 250px;
  padding: 1rem;
  box-sizing: border-box;
}

.layout-content {
  width: 80%;
  min-width: none;
  padding: 6rem;
  overflow-y: auto;
  box-sizing: border-box;
}
